* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  background-image: linear-gradient(130deg, #34d6fa 30%, #045de9 80%);
}

.wrapper {
  width: 500px;
  background-color: #fff;
  box-shadow: 0 0 10px #000;
}

form {
  padding: 40px;
  border: 1px solid rgb(197, 197, 197);
}

h1 {
  text-align: center;
}

.form-box.error input {
  border: 1px solid rgb(250, 0, 0);
  background-color: rgba(250, 0, 0, 0.2);
}

.form-box .error-text {
  margin: 5px, 0 0 10px;
  font-style: 14px;
  color: rgb(250, 0, 0);
  visibility: hidden;
}

.form-box.error .error-text {
  visibility: visible;
}

.control-buttons {
  display: flex;
  justify-content: center;
}

.send,
.clear,
.close {
  margin-left: 10px;
  width: 150px;
}

.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: -300px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
  height: 200px;
  background-color: #fff;
  border-radius: 5px;
  border: 2px solid black;
  transition: top 0.5s;
}

.popup p {
  font-size: 20px;
}

.popup .close {
  margin-top: 20px;
}

.show-popup {
  top: 50%;
}
